@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.phone-container {
  padding: 2rem;
}
.header-container {
  height: 100%;
  span {
    color: #ff4d09;
  }
  .top-right-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 25vh;
    z-index: 10;
  }
  .top-left-image {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30vh;
    max-width: 100%;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading-1 {
  font-weight: 800;
  font-size: 3rem;
}
.heading-2 {
  font-weight: 600;
  font-size: 4.3rem;
  color: #f7b844;
  line-height: 1.1;
}
.heading-3-container {
  position: relative;
  width: fit-content;
  .heading-3 {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 1;
  }
  .line {
    position: absolute;
    width: 55%;
    height: 10px;
    background-color: rgba(247, 184, 68, 0.5);
    bottom: 3px;
    z-index: -1;
    right: -5%;
    border-radius: 2px;
  }
}

.tagline {
  .tagline-box {
    .tagline-1 {
      font-weight: 100;
      padding: 1px 15px 1px 0;
      background-color: #ff4d09;
    }
    .tagline-2 {
      margin: 0.2rem 0;
      padding: 1px 15px 1px 0;
      font-weight: 100;
      background-color: #ff4d09;
    }
    width: fit-content;
    color: white;
  }
  color: white;
}

.under {
  position: absolute;
  right: 100px;
  top: 100px;
  z-index: -1;
}

.over {
  position: absolute;
  right: 100px;
  top: 100px;
  z-index: 1;
}

.logo {
  height: 25vh;
}

.button-container {
  text-align: end;
  margin: 2rem;
}

@media only screen and (max-width: 600px) {
  .heading-1 {
    font-size: 2.2rem;
  }
  .heading-2 {
    font-size: 3rem;
  }
  .heading-3-container {
    .heading-3 {
      font-size: 1.5rem;
      margin-top: 5px;
    }
    .line {
      bottom: 1px;
    }
  }

  .tagline {
    .tagline-box {
      .tagline-1 {
        font-size: 1.1rem;
      }
      .tagline-2 {
        font-size: 1.1rem;
      }
    }
  }

  .header-container {
    .top-right-image {
      height: 20vh;
    }
    .top-left-image {
      display: none;
    }
  }

  .logo {
    height: 15vh;
    margin-top: 5rem;
  }

  .button-container {
    text-align: center;
  }
}
